*/pkg/
*/src/
/*/*/objects/
/*/*/hooks/
*.pkg.tar.xz
*.pkg.tar
*.src.tar.gz
*.tar.gz.sig
*.tar.xz.sig
*.tar.xz
*.tar.bz2
*.tar.gz
*.tgz
*.zip
*.ttf
*.AURINFO
*.SRCINFO

awesome-luajit-git/awesome
bozocrack-git/BozoCrack
coccigrep/coccigrep
git-pull-request/git-pull-request
python-mpd2-git/python-mpd2
python2-mpd2-git/python-mpd2
vim_bridge-git/vim_bridge
python2-lxc/python2-lxc
